.fillingfuel {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center; }
  .fillingfuel form select, .fillingfuel form input {
    padding: 10px 20px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer; }
  .fillingfuel button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 30px;
    font-size: 20px;
    text-align: center; }
    .fillingfuel button a {
      text-decoration: none;
      text-transform: capitalize; }
      .fillingfuel button a:hover {
        color: white; }
    .fillingfuel button:hover {
      background-color: black;
      color: white; }

.showStock {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center; }
  .showStock table {
    margin: auto; }
    .showStock table th, .showStock table td {
      padding: 10px 20px;
      font-size: 20px;
      border-bottom: 2px solid black; }

.update {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center; }
  .update form input {
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer; }
  .update form label {
    font-size: 20px;
    display: block; }
  .update button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none; }
    .update button a {
      text-decoration: none; }
