.report {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center; }
  .report .search input {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer; }
  .report .search label {
    padding: 10px 20px;
    font-size: 20px; }
  .report table {
    margin: auto; }
    .report table th, .report table td {
      padding: 10px 20px;
      border-bottom: 2px solid black; }
