footer{
    background-color: black;
    width: 100%;
    color:wheat;
    font-size: 26px;
    margin: auto;
    text-align: center;
    a{
        // display: block;
        text-decoration: none;
        color:wheat;
        padding: 0px 30px;
    }
}