body{
    // color: blue;
    // text-align: center;
    margin: 0;
    #main-part{
        min-height: 100vh;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

// h1{
//     font-family: monospace;
// }

// header{
//     font-family: cursive;
// }

// footer{
//     font-weight: 900;
// }

